* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.intro {
    width: 1340px;
    height: 650px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    position: relative;
    overflow: hidden;
}

.intro__imagen {
    width: 1320px;
    position: absolute;
}

.intro__imagen img {
    width: 100%;
    height: 624px;
    -o-object-fit: cover;
    object-fit: cover;
}

.intro__contenido {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 156px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}

.intro__categoria {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.intro__titulo {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}

.intro__autor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    place-items: center;
    width: 150px;
    margin: 0 auto;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    color: #fff;
}

.intro__autor img {
    height: 50px;
    width: 60px;
    float: left;
    padding-right: 10px;
    border-radius: 10rem;
}

.intro__autor span {
    display: inline-block;
}