.sombra-caja {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
.oswald {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  color: #333333;
  scroll-behavior: smooth;
  overflow: auto;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #333333;
  color: #fff;
}
body .intro__imagen {
  border: 10px solid #8841da;
}
body .articulo--principal h2 {
  color: #8841da;
}
body .caja__contenido {
  background-color: #8841da;
  color: rgba(255, 255, 255, 0.7);
}
body .caja__contenido span {
  color: rgba(255, 255, 255, 0.7);
}
body .caja__contenido a {
  color: rgba(255, 255, 255, 0.7);
}
h1,
h2,
h3 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #333333;
  outline: 1px solid #fff;
}
.intro {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 95%;
  height: 85vh;
  margin: 40px auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
.intro > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.intro > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.intro__imagen {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid #333333;
  border-radius: 10px;
}
.intro__imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__contenido {
  grid-column: 0.5;
  grid-row: 0.5;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  width: 50%;
  z-index: 1;
  text-align: center;
  color: #fff;
}
.intro__categoria {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}
.intro__titulo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
}
.intro__autor {
  grid-column: 0.5;
  grid-row: 0.66666667;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
}
.intro__autor > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.intro__autor > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.intro__autor > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.intro__autor > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.intro__autor img {
  background-color: #242430;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  -ms-grid-row-align: center;
  -ms-grid-column-align: end;
  place-self: center end;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
  -ms-grid-row-align: end;
  -ms-grid-column-align: start;
  place-self: end start;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 5px;
}
.intro__autor-nombre {
  -ms-grid-row-align: start;
  -ms-grid-column-align: start;
  place-self: start start;
  padding: 5px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  font-weight: 300;
  font-size: 1.4rem;
}
.articulo--principal {
  max-width: 40%;
  height: 80vh;
  margin: 0 auto;
  line-height: 19.8px;
}
.articulo--principal h2 {
  padding: 40px 40px 0 40px;
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
}
.articulo--principal h3 {
  color: #8841da;
  padding: 40px 0;
}
.articulo--principal p {
  padding: 10px 0;
  font-size: 1.8rem;
}
.articulo--principal p.articulo--principal__intro {
  font-family: 'Lato', sans-serif;
  font-size: 2.8rem;
  line-height: 36px;
}
.contenedor--cajas {
  display: -ms-grid;
  display: grid;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}
.caja {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: start;
  width: 100%;
  height: 90%;
  padding: 0 20px 40px 20px;
  margin-bottom: 20px;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 60 40%;
  grid-template-rows: 60 40%;
}
.caja > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.caja > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.caja__imagen {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}
.caja__imagen img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.caja__contenido {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
  border-radius: 0 0 20px 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center start;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-color: #fff;
}
.caja__contenido span {
  color: #8841da;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 0;
}
.caja__contenido h3 {
  padding: 5px 0;
}
.caja a {
  padding: 20px 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  background-color: get-opacity(0, 0, 0, 1);
}
