footer.footer--principal
	nav.nav--footer: ul
		li: a.logo.logo--footer(href="#")
		li: a(href="#"): i.fab.fa-github 
		li: a(href="#"): i.fab.fa-twitter 
		li: a(href="#"): i.fab.fa-instagram 
		li: a(href="#"): i.fab.fa-youtube 
		li: a(href="#"): i.fab.fa-facebook-f 
	