header.header--principal
	.logo.logo--header: a(href="#"): img(src="http://svgur.com/i/gQg.svg")
	nav.nav--header: ul
		li: a(href="pagina-principal.html") Home
		li: a(href="perfil.html") Profile
		li: a(href="articulo.html") Articles
		li: a(href="resultados-busqueda.html") Searches
		li: a(href="#") Portfolio
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search
	nav.menu--header 
		div 
		div 
		div
		div.menu--bg
			ul
				li: a(href="pagina-principal.html") Home 
				li: a(href="perfil.html") Profile 
				li: a(href="articulo.html") Articles
				li: a(href="resultados-busqueda.html") Searches
				li: a(href="#") Portfolio