header.header--principal
	.logo.logo--header: a(href="#"): img(src="http://svgur.com/i/gQg.svg")
	nav.nav--header: ul
		li: a(href="#") Home
		li: a(href="#") Profile
		li: a(href="#") Articles
		li: a(href="#") Searches
		li: a(href="#") Mobile
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search