footer
     div.container
          a(href="")
               i.fab.fa-github 
          a(href="") 
                i.fab.fa-twitter
          a(href="") 
               i.fab.fa-instagram
     span made with love by CricaDev
block footer