-const title = "Welcome"
-const title2 = " To CricaDev"
-const titles = [`Welcome ${title2}.`, "CricaDev is a freelancer based in Bogotá, Colombia.", "CricaDev is cool.", "CricaDev is a lifestyle."]
-const subtitles = ["Subtitle 1", "Subtitle 2", "Subtitle 3", "Subtitle 4"]
-const user = "Cristian"
-const numbers = ["0", "1", "2", "3"]
-const links = ["About me", "Contact me", "My projects", "My resume"]
mixin caja(image,title, content)
    .caja
        .caja__imagen: img(src =`${image}`)
        .caja__contenido 
            h3 #{title}
            p #{content} 
            a.boton Read More