.footer--principal{
  display:flex;  
  width: 100vw;
  height: auto;
  background-color: $color-primario;
  border-top: 1px solid get-opacity($color-claro, .5);
  .logo--footer{
    display: grid;
    place-items: center;
    background-image: url("https://i.ibb.co/Xsz4Bkh/Cricadev-negativo1x.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    height: 100%;
    cursor: pointer;
    width: 100px;

    
}
}
.nav--footer{
  width: 100%;
}
.nav--footer ul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 20px;
  li{
    list-style: none;
    box-shadow: 0px 20px 33px 0px rgb(0 0 0 / 30%);
    border-radius:  50% ;
    -webkit-border-radius:  50% ;
    -moz-border-radius:  50% ;
    -ms-border-radius:  50% ;
    -o-border-radius:  50% ;
}
  a{
    color: $color-claro;
    @include titulos($Fuente2);
  }
  i{
    font-size: 1rem;
  }
 
}
 