.header--principal{
  display: flex;
  width:100%;
  height:auto;
  border-bottom: 1px solid #ebebeb;
  @include media(desktop-s){
    margin-bottom: 20px;
    padding: 10px;
  }
  .logo{
    margin-left: 10px;
    width: 30px;
    height: 40px;
    padding: 5px;
    @include media(desktop-s){
      width: 80px;
      height: 90px;
    }
    a{
      cursor: pointer;
    }
    img{
      width: 100%;
      height: 100%;
      margin-right: 20px;
    }
  }
  
}
.nav--header ul{
  display: none;
  padding-top: 35px;
  li{
    list-style: none;
    margin-right: 50px;
  }
  a{
    color: $color-claro;
    @include titulos($Fuente2);
  }
  @include media(desktop-s){
    display: flex;
  }
}
.header__busqueda{
  display: none;
  margin-left: auto;
  padding-top: 35px;
  &:hover{
    text-decoration: none;
  }
  i{
    font-size: 2rem;
    margin-right: 10px;
    color: $color-claro;
  }
  span{
    color: $color-claro;
    @include titulos($Fuente2);
  }
  @include media(desktop-s){
    display: flex;
  }
}