extend ./aside.pug
block code    
    section.intro 
        .intro__contenido 
            h2 #{title} #{title2} 
            p  #{titles[0]} This is a simple landing page built with Pug.
                span It's a great way to start your next project.
            a.boton Read more
        ul 
            each title in titles
                li #{title}
    main.contenido 
        each number  in numbers 
            +caja("https://picsum.photos/200", subtitles[number],titles[number])  
