.estadistica--articulos
     height 70px
     padding 20px
     border-top 1px solid alpha(color-primary, 0.30)
     ul
          display flex
          margin 0
          padding 0
          justify-content space-evenly
          li
               list-style: none
               color opacidad(color-primary, 0.8)
               i
                    font-size 2rem
                    color opacidad(color-primary, 0.8)
                    margin-right 10px
          span
               margin-left 10px